<div class="off-canvas-absolute position-left" id="quickInfo" data-off-canvas="" data-transition="overlap">
  {{> drilldown_menu}}
  <button type="button" class="close-button" aria-label="Close menu" data-close="">
    <span aria-hidden="true">×</span>
  </button>
</div>
<div class="off-canvas position-top" id="explore" data-off-canvas="" data-transition="overlap">
  {{> single_horizontal_menu}}
  <button type="button" class="close-button" aria-label="Close menu" data-close="">
    <span aria-hidden="true">×</span>
  </button>
</div>
