  <div class="grid-x grid-margin-x">
    <div class="cell large-4">
      <ul id="tabsVerticalGrid" class="tabs vertical" data-tabs="">
        <li class="tabs-title is-active">
          <a href="#tabsVerticalGrid1" aria-selected="true">Book a Demo</a>
        </li>
        <li class="tabs-title">
          <a href="#tabsVerticalGrid2">Get inspired</a>
        </li>
        <li class="tabs-title">
          <a href="#tabsVerticalGrid3">Become a partner</a>
        </li>
        <li class="tabs-title">
          <a href="#tabsVerticalGrid4">Get the Guidance</a>
        </li>
      </ul>
    </div>
    <div class="cell large-8">
      <div class="tabs-content" data-tabs-content="tabsVerticalGrid">
        <div id="tabsVerticalGrid1" class="tabs-panel is-active">
          <p>Request a demo from one of our conversion specialists.</p>
        </div>
        <div id="tabsVerticalGrid2" class="tabs-panel">
          <p>Discover the many ways in which our studnets come to IIT Bombay.</p>
        </div>
        <div id="tabsVerticalGrid3" class="tabs-panel">
          <p>Join our Partner Program and earn 25% recurring commissions.</p>
        </div>
        <div id="tabsVerticalGrid4" class="tabs-panel">
          <p>Get a proper guidance regarding how exactly things going to work.</p>
        </div>
      </div>
    </div>
  </div>
