<footer class="footer">

  <div class="grid-x grid-padding-y grid-margin-y">

    <div class="overlay-1"></div>
    <div class="overlay-2"></div>
    <div class="overlay-3"></div>

    <div class="cell footer__navigation">
      <div class="grid-x align-center">
        {{#repeat 3}}
          <div class="cell medium-4 small-8">
            {{> footer_card}}
          </div>
        {{/repeat}}
      </div>
    </div>

    <div class="cell footer__copyright">
      <div class="grid-x grid-padding-x grid-padding-y align-center">
        <div class="cell shrink">
          <p>Copyright &copy; IIT Bombay. All Rights Reserved.</p>
        </div>
        <div class="cell shrink">
          <ul class="menu">
            <li><a href="home.html"><i class="fab fa-fw fa-facebook"></i></a></li>
            <li><a href="contact.html"><i class="fab fa-fw fa-instagram"></i></a></li>
            <li><a href="article.html"><i class="fab fa-fw fa-twitter"></i></a></li>
            <li><a href=""><i class="fab fa-fw fa-youtube"></i></a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>

</footer>
