<header class="grid-x grid-padding-x align-center-middle">
  <div class="cell shrink">
    <div class="media-object align-middle">
      <div class="media-object-section">
        <div class="thumbnail">
          <img src= "../assets/img/logo5.png">
        </div>
      </div>
      <div class="media-object-section">
        <h4 class="font-wide"><a href="#">Acadmyn</a></h4>
      </div>
    </div>
  </div>
  <nav class="cell auto show-for-large">
    <ul class="menu float-right">
        <li><a href="home.html">Home</a></li>
        <li><a href="contact.html">Contact Us</a></li>
        <li><a href="about.html">About Us</a></li>
        <li><a href="article.html">Article</a></li>
        <li><a href="terms.html">Terms</a></li>
    </ul>
  </nav>
  <div class="cell auto hide-for-small-only hide-for-medium-only">
    <ul class="menu float-right h4">
        <li><a href="facebook.com" target="_blank"><i class="fab fa-fw fa-facebook"></i></a></li>
        <li><a href="facebook.com" target="_blank"><i class="fab fa-fw fa-instagram"></i></a></li>
        <li><a href="facebook.com" target="_blank"><i class="fab fa-fw fa-twitter"></i></a></li>
        <li><a href="facebook.com" target="_blank"><i class="fab fa-fw fa-youtube"></i></a></li>
    </ul>
  </div>
  <div class="cell auto hide-for-large">
    <ul class="menu float-right h1 vertical_menu_toggle">
        <li data-toggle="offCanvas" ><i class="fas fa-fw fa-bars"></i></li>
    </ul>
  </div>
</header>
