<header class="header">

  <div class="grid-container full">

    <div class="grid-x align-middle sub-header">
      <div class="cell large-8 medium-6 small-2">
        {{> button_group}}
        <button class="show-for-small-only" type="button" data-toggle="quickInfo"><i class="fas fa-bars fa-2x"></i></button>
      </div>
      <div class="cell auto">
        {{> social}}
      </div>
      <div class="cell shrink">
        {{> search_button}}
      </div>
    </div>

    <div class="grid-x align-middle main-header">
      <div class="cell shrink">
        {{> brand}}
      </div>
      <div class="cell auto text-center">
        <h1>IIT Bombay</h1>
      </div>
      <div class="cell shrink hide-for-small-only">
        <a href="index.html" class="flex-container align-middle">
          <div class="brand__logo">
            <img src="{{root}}assets/img/logo5.png" alt="">
          </div>
        </a>
      </div>
    </div>

  </div>

</header>

{{!-- {{> search}} --}}
<!--
  * This div is added to provide the margin bottom to the header
  * Since the header is on another plane the margin can't be applied correctly
-->
<div class="header_support"></div>
