<div class="grid-container fluid image_slider" id="image_slider">
  <div class="grid-x grid-padding-x">
    <div class="cell">
      <div class="orbit" role="region" aria-label="Carousel Title" data-orbit="">
        <div class="orbit-controls">
          <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span> ◀︎</button>
          <button class="orbit-next"><span class="show-for-sr">Next Slide</span> ▶︎</button>
        </div>
        <ul class="orbit-container">
          <li class="orbit-slide is-active">
            <figure class="orbit-figure">
              <img src="../assets/img/nature-1.jpg" alt="Descriptive Text for Slide" class="orbit-image">
              <figcaption class="orbit-caption">Sweet Oranges</figcaption>
            </figure>
          </li>
          <li class="orbit-slide">
            <figure class="orbit-figure">
              <img src="{{root}}assets/img/nature-2.jpg" alt="Descriptive Text for Slide" class="orbit-image">
              <figcaption class="orbit-caption">Beautifull Mountain</figcaption>
            </figure>
          </li>
          <li class="orbit-slide">
            <figure class="orbit-figure">
              <img src="{{root}}assets/img/nature-3.jpg" alt="Descriptive Text for Slide" class="orbit-image">
              <figcaption class="orbit-caption">The scenary of a beautiful river</figcaption>
            </figure>
          </li>
          <li class="orbit-slide">
            <figure class="orbit-figure">
              <img src="{{root}}assets/img/nature-4.jpg" alt="Descriptive Text for Slide" class="orbit-image">
              <figcaption class="orbit-caption">Beautifull scenary of range of mountains</figcaption>
            </figure>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
