<div class="grid-container full image_slider" >
  <div class="slider__container">
    <div class="slide grid-x slide__active">
      <div class="slide__details align-self-middle cell large-6 medium-12 small-12 small-order-2 medium-order-2 large-order-1">
        <div class="">
          <h5>Community</h5>
          <h2>Education System</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa placeat reprehenderit excepturi voluptatum nobis. Hic magnam illum.</p>
          <button type="button" name="button" class="button primary">read more</button>
        </div>
      </div>
      <div class="slide__media cell large-6 medium-12 small-12 small-order-1 medium-order-1 large-order-2">
        <img src="{{root}}assets/img/nature-1.jpg" alt="">
      </div>
    </div>
    <div class="slide grid-x">
      <div class="slide__details align-self-middle cell large-6 medium-12 small-12 small-order-2 medium-order-2 large-order-1">
        <div class="">
          <h5>Environment</h5>
          <h2>Communication System</h2>
          <p>Fugiat optio laudantium tempore libero placeat deserunt non rem officia, molestias voluptate, officiis recusandae ipsa dolorum.</p>
          <button type="button" name="button" class="button primary">read more</button>
        </div>
      </div>
      <div class="slide__media cell large-6 medium-12 small-12 small-order-1 medium-order-1 large-order-2">
        <img src="{{root}}assets/img/nature-2.jpg" alt="">
      </div>
    </div>
    <div class="slide grid-x">
      <div class="slide__details align-self-middle cell large-6 medium-12 small-12 small-order-2 medium-order-2 large-order-1">
        <div class="">
          <h5>Social</h5>
          <h2>Welfare System</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa placeat reprehenderit excepturi voluptatum nobis. Hic magnam illum.</p>
          <button type="button" name="button" class="button primary">read more</button>
        </div>
      </div>
      <div class="slide__media cell large-6 medium-12 small-12 small-order-1 medium-order-1 large-order-2">
        <img src="{{root}}assets/img/nature-3.jpg" alt="">
      </div>
    </div>
    <div class="slide grid-x">
      <div class="slide__details align-self-middle cell large-6 medium-12 small-12 small-order-2 medium-order-2 large-order-1">
        <div>
          <h5>Technical</h5>
          <h2>Resource System</h2>
          <p>Fugiat optio laudantium tempore libero placeat deserunt non rem officia, molestias voluptate, officiis recusandae ipsa dolorum.</p>
          <button type="button" name="button" class="button primary">read more</button>
        </div>
      </div>
      <div class="slide__media cell large-6 medium-12 small-12 small-order-1 medium-order-1 large-order-2">
        <img src="{{root}}assets/img/nature-4.jpg" alt="">
      </div>
    </div>
    <div class="slider__bullets">
      <ul>
      <li class="active"></li>
      <li></li>
      <li></li>
      <li></li>
      </ul>
    </div>
  </div>
</div>
