<div class="tournament grid-x align-middle">
  <div class="tournament__details cell small-12 medium-6 small-order-1">
    <div class="title">
      <p>Every</p>
      <p>Tournament</p>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="tournament__media cell small-12 medium-6 small-order-2">
    <div class="photo-1">
      <img src="{{root}}assets/img/tournament-1.jpg" alt="">
    </div>
    <div class="photo-2">
      <img src="{{root}}assets/img/tournament-2.jpg" alt="">
    </div>
  </div>
</div>
