<div class="card">
  <div class="card-divider">
    <h4>Best Services Around</h4>
  </div>
  <div class="card-section">
    <div class="best_services">
      <ul class="accordion" data-accordion>
        <li class="accordion-item is-active" data-accordion-item>
          <a href="#" class="accordion-title flex-container align-middle">
            <i class="fas fa-rocket"></i>
            <p>Suscipit laboriosam</p>
          </a>
          <div class="accordion-content" data-tab-content>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis autem, doloribus ullam nam quo reiciendis nesciunt sapiente in vero voluptate modi libero maxime, incidunt provident sed totam illum tempora placeat.</p>
          </div>
        </li>
        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title flex-container align-middle">
            <i class="fas fa-heart"></i>
            <p>Aliquam voluptatem</p>
          </a>
          <div class="accordion-content" data-tab-content>
            <p>Atque ad explicabo necessitatibus quo fugiat, sunt cum consectetur, aliquid quae voluptatum delectus mollitia commodi impedit. Deserunt ullam culpa a. Neque cupiditate perspiciatis quibusdam molestiae.</p>
          </div>
        </li>
        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title flex-container align-middle">
            <i class="fas fa-shopping-cart"></i>
            <p>Labore et dolore</p>
          </a>
          <div class="accordion-content" data-tab-content>
            <p>Corrupti in aut fuga ducimus, libero dolorum soluta? Aliquam, nihil numquam dolorum optio quibusdam libero veritatis quas quaerat voluptatum, autem, corporis placeat nostrum a expedita asperiores vitae accusamus voluptates. Rerum nemo excepturi tempore. Quasi ducimus ipsa iure!</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
