<div class="latest_blog">
  <div class="card">
    <div class="card-divider">
      <h4>Latest from Blog</h4>
    </div>
    <div class="card-section">
      {{#each global.latest_blog}}
      <div class="media-object blog">
        <div class="media-object-section">
          <div class="thumbnail">
            <img src= {{url}}>
          </div>
        </div>
        <div class="media-object-section main-section">
          <h6 class="h5">Dreams feel real while we're in them.</h6>
          <p><i class="far fa-clock"></i>6m ago <i class="fas fa-tag"></i>Technology</p>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>
