.latest_blog {
  h2 {
    margin-bottom: 2rem;
    font-weight: 600;
  }
  .blog {
    .thumbnail {
      width: 4rem;
      height: 3rem;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}
