.fixed-nav {
  width: 5rem;
  height: 100vh;
  background: #000;
  color: #fff;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  position: fixed;
  z-index: 300;
  div {
    display: flex;
    flex-direction: column;
    & > * {
      margin-bottom: 1rem;
      cursor: pointer;
    }
    &:first-of-type {
      &:first-child {
        margin-top: 1rem;
      }
    }
    &:last-of-type {
      &:first-child {
        margin-bottom: 2rem;
      }
    }
  }
  i[class="fa-search"] {
    margin-bottom: 2rem;
  }
}
