.rhombus-composition {
  margin: 4rem 0;
}
.rhombus {
  height: 20rem;
  cursor: pointer;
  transform: skew(-20deg, 0);
  .tilted {
    transform: skew(20deg, 0);
  }
  &__background {
    height: 100%;
    text-align: center;
    transition: left .25s ease-out,background-position .2s ease-out;
  }
  &__gradient {
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.6) 100%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: skew(-20deg, 0);
  }
  &__content {
    width: 320px;
    position: absolute;
    left: 50%;
    margin-left: -155px;
    top: 50%;
    height: 315px;
    margin-top: -157.5px;
    text-align: center;
  }
  &--1 {
    margin-left: -4rem;
  }
  &--2 {
    transform: scaleX(1.5);
  }
  &--3 {
    margin-left: auto;
    margin-right: -4rem;
  }
  @for $i from 1 through 3 {
    &--#{$i}{
      background: url('../img/rhombus-' + $i + '.jpg') 0 50% no-repeat;
    }
  }

}
