.rhombus-composition-container {
  height: 20rem;
  position: relative;
  background: red;
}
.rhombus-composition {
  height: 100%;
  background: #000;
  width: 110%;
  position: absolute;
  left: -5%;
  top: 0;
  transform: translateY(440px);
  transition: 0.6s cubic-bezier(1, 0, 0, 1) 0.45s;
  z-index: 5;
}
.rhombus {
  height: 100%;
  width: 33.333333%;
  float: left;
  position: absolute;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  transform: skew(-20deg, 0);
  transition: .2s ease-out;
  .tilted {
    transform: skew(20deg, 0);
  }
  &__background {
    position: absolute;
    left: 50%;
    height: 100%;
    width: 1000px;
    margin-left: -500px;
    text-align: center;
    transition: left .25s ease-out,background-position .2s ease-out;
  }
  &__gradient {
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.6) 100%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: skew(-20deg, 0);
  }
  &__content {
    width: 320px;
    position: absolute;
    left: 50%;
    margin-left: -155px;
    top: 50%;
    height: 315px;
    margin-top: -157.5px;
    text-align: center;
  }
  &__content &__description, &__explore {
    opacity: 0;
    transition: opacity .3s ease-in;
  }
  @for $i from 1 through 3 {
    &--#{$i} {
      @if $i == 1 {
        left: 0;
      } @else if $i == 2 {
        left: 33.333333%;
      } @else {
        right: 0;
      }
    }
    &--#{$i} &__background{
      background: url('../img/rhombus-' + $i + '.jpg') 0 50% no-repeat;
    }
  }
  @for $i from 1 through 3 {
    &--#{$i} {
      &:hover {
        .rhombus__description, .rhombus__explore {
          opacity: 1;
        }
      }
      @if  $i == 1 {
        &:hover {
          width: 40%;
        }
        &:hover ~ .rhombus--#{$i + 1} {
          left: 40%;
          width: 30%;
        }
        &:hover ~ .rhombus--#{$i + 2} {
          width: 30%;
        }
      } @else if $i == 2 {
        &:hover {
          left: 30%;
          width: 40%;
        }
        &:hover ~ .rhombus--#{$i - 1} {
          left: 0;
          width: 30%;
        }
        &:hover ~ .rhombus--#{$i + 1} {
          right: 0;
          width: 30%;
        }
      } @else {
        &:hover {
          width: 40%;
        }
        &:hover ~ .rhombus--#{$i - 2} {
          left: 30%;
        }
        &:hover ~ .rhombus--#{$i - 1} {
          width: 30%;
        }
      }
    }
  }
}
