.scroll_top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: $primary-color;
  height: 3rem;
  width: 3rem;
  border-radius: .2rem;
  z-index: 20;
  text-align: center;
  font-size: 2rem;
  transition: $transition-default;

  display: none;
  &:hover {
    background-color: $primary-color-contrast;
  }
}
