header {
  background-color: $secondary-color;
  color: $white-light;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  margin-bottom: 8rem;

  display: none;

  .sub-header {
    .button-group {
      margin-bottom: 0;
    }
    .search-button  {
      margin-right: 1rem;
    }
    margin-left: 1rem;
  }
  .main-header {
    background-color: $primary-color;
    padding: .5rem;
    h2 {
      color: $primary-color-contrast;
    }
  }
}
.brand {
  &__logo {
    width: 5rem;
    height: 5rem;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__name {
    width: 10rem;
    margin-left: .5rem;
    font-size: 1.1rem;
    color: $primary-color;
  }
}
a, svg {
  transition: $transition-default;
  color: $white-light;
  &:hover {
    color: $secondary-color-contrast;
  }
}
