.top-content {
  .card {
    &:hover {
      transform: translate(-.5rem, -.5rem);
    }
  }
  .rhombus-menu {
    display: flex;
    margin: 5rem 0;
    .rhombus {
      position: relative;
      height: 25rem;
      background: red;
      border:1px solid green;
      position: relative;
      transform: skewX(-20deg);
      width: 1000px;
      cursor: pointer;
      z-index: 1;

      transition: all .2s ease-in;

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: green;
        transform: skewX(20deg) scaleX(1);
        z-index: -1;
      }
    }

    &:hover .rhombus:not(:hover) {
      transform: skewX(-20deg) scaleX(.8);
    }
  }
}
