{{!-- This is the base layout for your project, and will be used on every page unless specified. --}}
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acadmyn | {{page_title}}</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <script src="{{root}}assets/js/fontawesome-all.js" charset="utf-8"></script>
  </head>
  <body>
  {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    {{> navigation}}
    {{> header}}
    <div class="grid-container full">
      <div class="off-canvas-wrapper">
        {{> offcanvas}}
        <div class="off-canvas-content" data-off-canvas-content>
          {{> body}}
        </div>
      </div>
    </div>
    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>
