{{!-- This is the base layout for your project, and will be used on every page unless specified. --}}
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acadmyn | {{page_title}}</title>
    <link rel="shortcut icon" href="{{root}}assets/img/favicon.ico" type="image/vnd.microsoft.icon" />
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <script src="{{root}}assets/js/fontawesome-all.js" charset="utf-8"></script>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  </head>

  {{> preloader}}

  <body>
    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}

    {{> scroll_progress}}

    {{> body}}


    <script src="{{root}}assets/js/jquery.min.js"></script>
    <script src="{{root}}assets/js/lightbox.min.js"></script>
    <script src="{{root}}assets/js/app.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        duration: 800,
      });
    </script>
  </body>
</html>
